<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Yes, we do that.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Need to sell your house?</h4>
                    <p class="text-muted">Wheter it's a new job and you need to move now or you simply need out due to financial reasons, we've got you covered. We use cash lenders and can have you paid within hours, not days. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">We Pay Cash</h4>
                    <p class="text-muted">While we offer other services depending on your situation, but if you're looking for immediate cash, we have access to hundres of lenders that are ready to write you a check for your home.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bank fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Looking for Investment Property</h4>
                    <p class="text-muted">Wheter you're an experienced investor that knows what they want or your're a new investor insterested in 15% returns on your capital, we've got you covered. Are you looking for a better investment than your savings account? Do 12-15% returns sound better than what you're getting on your current investments? We have access to hundres of investment properties throughout the greater Kansas City area and can help guide you through the process of becoming a real estate investor. </p>
                </div>
            </div>
        </div>
    </section>